In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

%matplotlib inline

In [30]:
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180526.txt')

In [31]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,00:00:00,REGULAR,6625470,2245312
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,04:00:00,REGULAR,6625494,2245314
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,08:00:00,REGULAR,6625514,2245338
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,12:00:00,REGULAR,6625595,2245415
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,16:00:00,REGULAR,6625791,2245481

In [40]:
maps_api = 'SECRET API KEY'

In [41]:
import googlemaps

In [42]:
gmaps = googlemaps.Client(key=maps_api)

In [43]:
stations = df['STATION'].unique()

In [44]:
ny_stations = list(map(lambda x: x + ', New York, NY', stations))

In [45]:
from collections import defaultdict

In [46]:
unique_geocodes = defaultdict(str)

In [51]:
download=False

if download==True:
    for address in ny_stations:
        geocode = gmaps.geocode(address)
        unique_geocodes[address] = geocode

In [96]:
parse=True

if parse==True:
    zipcodes = []
    stations = []
    
    for geocode in unique_geocodes:
        try:
            address = unique_geocodes[geocode][0]['address_components']
            if address[len(address) - 1]['types'] == ['postal_code']:
                zipcodes.append(address[len(address)- 1]['long_name'])
                stations.append(geocode.split(',')[0])
        except:
            print('Unable to find location data')

Unable to find location data
Unable to find location data
Unable to find location data
Unable to find location data

In [86]:
station_zips = pd.DataFrame(columns=['STATION', 'zipcode'])
station_zips['STATION'] = stations
station_zips['zipcode'] = zipcodes

In [87]:
station_zips.head()

           STATION zipcode
0            59 ST   10022
1       5 AV/59 ST   10022
2       57 ST-7 AV   10106
3   TIMES SQ-42 ST   10018
4  34 ST-HERALD SQ   10001

## Income data

In [63]:
inc = pd.read_csv('16zpallagi.csv')

In [64]:
inc = inc[(inc['zipcode'] > 10000) & (inc['zipcode'] < 11500)]

In [65]:
inc = inc[(inc['agi_stub'].isin([5, 6]))]

In [66]:
inc.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
102618,36,NY,10001,5,2580,1850,560,90,1540,3580,...,2570,63114,130,45,40,15,560,4030,1870,7956
102619,36,NY,10001,6,2340,1200,1030,50,1760,4150,...,2340,418983,1850,6168,1640,7066,1160,31160,850,27005
102624,36,NY,10002,5,3620,2200,1120,210,2160,6000,...,3600,81446,110,29,30,7,870,5642,2590,11309
102625,36,NY,10002,6,1650,710,870,50,1160,3370,...,1650,177730,1170,2081,1040,2957,840,17344,600,6812
102630,36,NY,10003,5,6300,4830,1190,140,4080,8210,...,6260,152905,280,79,70,54,1410,10187,4330,20200

In [67]:
inc = inc[['zipcode', 'agi_stub', 'N1']]

In [68]:
inc = inc.groupby('zipcode')['N1'].sum()

In [69]:
inc = pd.DataFrame(inc)

In [71]:
inc.reset_index(inplace=True)

In [72]:
inc.head()

   zipcode     N1
0    10001   4920
1    10002   5270
2    10003  12580
3    10004   1370
4    10005   2980

In [91]:
inc['zipcode'] = inc['zipcode'].astype(str)

Merge the two dataframes to get # of high income residents in the zipcode of each station.

In [92]:
# income and high income residents
inc_hir = inc.merge(right=station_zips, on='zipcode')

In [ ]:
inc_hir.to_csv('zipcodes.csv')