In [1]:
import pandas as pd
import random
import itertools

Downloaded data from: http://web.mta.info/developers/turnstile.html

Documentations at: http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt

In [2]:
df = pd.read_csv('turnstile_180526.txt')

In [3]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,00:00:00,REGULAR,6625470,2245312
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,04:00:00,REGULAR,6625494,2245314
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,08:00:00,REGULAR,6625514,2245338
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,12:00:00,REGULAR,6625595,2245415
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,16:00:00,REGULAR,6625791,2245481

In [5]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

Fix 'EXITS' column name (it has many spaces at the end of it)

In [7]:
# old_exit_name = df.columns[-1]
df.rename(columns={df.columns[-1]: 'EXITS'}, inplace = True)
df.columns

In [13]:
backup_df = df.copy()

Make list of columns which we'll use at the key (i.e. the first 4) and a list of the rest.

In [21]:
key_cols = list(df.columns[:4])
key_cols

['C/A', 'UNIT', 'SCP', 'STATION']

In [20]:
other_cols = list(df.columns[4:])
other_cols

['LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS']

Create dictionary, using 4-column key:

In [26]:
dct = df.groupby(key_cols)[other_cols].apply(lambda x: list(x.values)).to_dict()

In [28]:
len(dct)

4703

In [77]:
def dict_glance(d, n):
    '''Generates "glance" of n items (key: value pairs) of dictionary d.
    If value is list, returns each item of list on new line'''
    for i in range(n):
        rand_key = random.choice(list(d.keys()))
        print (rand_key)
        print('\n'.join('%s' % v for v in d[rand_key]))

In [78]:
dict_glance(dct, 2)

('N422', 'R318', '00-00-00', 'FULTON ST')
['G' 'IND' '05/19/2018' '00:00:00' 'REGULAR' 5815056 7332004]
['G' 'IND' '05/19/2018' '04:00:00' 'REGULAR' 5815086 7332070]
['G' 'IND' '05/19/2018' '08:00:00' 'REGULAR' 5815120 7332213]
['G' 'IND' '05/19/2018' '12:00:00' 'REGULAR' 5815240 7332579]
['G' 'IND' '05/19/2018' '16:00:00' 'REGULAR' 5815486 7333074]
['G' 'IND' '05/19/2018' '20:00:00' 'REGULAR' 5815722 7333582]
['G' 'IND' '05/20/2018' '00:00:00' 'REGULAR' 5815869 7333828]
['G' 'IND' '05/20/2018' '04:00:00' 'REGULAR' 5815902 7333918]
['G' 'IND' '05/20/2018' '08:00:00' 'REGULAR' 5815920 7333967]
['G' 'IND' '05/20/2018' '12:00:00' 'REGULAR' 5815981 7334242]
['G' 'IND' '05/20/2018' '16:00:00' 'REGULAR' 5816151 7334739]
['G' 'IND' '05/20/2018' '20:00:00' 'REGULAR' 5816358 7335137]
['G' 'IND' '05/21/2018' '00:00:00' 'REGULAR' 5816466 7335323]
['G' 'IND' '05/21/2018' '04:00:00' 'REGULAR' 5816476 7335358]
['G' 'IND' '05/21/2018' '08:00:00' 'REGULAR' 5816536 7335618]
['G' 'IND' '05/21/2018' '12:00:00' 'REGULAR' 5816671 7336075]
['G' 'IND' '05/21/2018' '16:00:00' 'REGULAR' 5817381 7336368]
['G' 'IND' '05/21/2018' '20:00:00' 'REGULAR' 5817836 7337034]
['G' 'IND' '05/22/2018' '00:00:00' 'REGULAR' 5817948 7337252]
['G' 'IND' '05/22/2018' '04:00:00' 'REGULAR' 5817956 7337284]
['G' 'IND' '05/22/2018' '08:00:00' 'REGULAR' 5818049 7337546]
['G' 'IND' '05/22/2018' '12:00:00' 'REGULAR' 5818194 7338056]
['G' 'IND' '05/22/2018' '16:00:00' 'REGULAR' 5818924 7338411]
['G' 'IND' '05/22/2018' '20:00:00' 'REGULAR' 5819300 7339065]
['G' 'IND' '05/23/2018' '00:00:00' 'REGULAR' 5819434 7339319]
['G' 'IND' '05/23/2018' '04:00:00' 'REGULAR' 5819451 7339362]
['G' 'IND' '05/23/2018' '08:00:00' 'REGULAR' 5819539 7339571]
['G' 'IND' '05/23/2018' '12:00:00' 'REGULAR' 5819735 7340089]
['G' 'IND' '05/23/2018' '16:00:00' 'REGULAR' 5820463 7340499]
['G' 'IND' '05/23/2018' '20:00:00' 'REGULAR' 5820873 7341154]
['G' 'IND' '05/24/2018' '00:00:00' 'REGULAR' 5821037 7341387]
['G' 'IND' '05/24/2018' '04:00:00' 'REGULAR' 5821052 7341422]
['G' 'IND' '05/24/2018' '08:00:00' 'REGULAR' 5821138 7341629]
['G' 'IND' '05/24/2018' '12:00:00' 'REGULAR' 5821455 7342131]
['G' 'IND' '05/24/2018' '16:00:00' 'REGULAR' 5821991 7342501]
['G' 'IND' '05/24/2018' '20:00:00' 'REGULAR' 5822378 7343138]
['G' 'IND' '05/25/2018' '00:00:00' 'REGULAR' 5822544 7343423]
['G' 'IND' '05/25/2018' '04:00:00' 'REGULAR' 5822568 7343471]
['G' 'IND' '05/25/2018' '08:00:00' 'REGULAR' 5822648 7343673]
['G' 'IND' '05/25/2018' '12:00:00' 'REGULAR' 5822807 7344102]
['G' 'IND' '05/25/2018' '16:00:00' 'REGULAR' 5823471 7344567]
['G' 'IND' '05/25/2018' '20:00:00' 'REGULAR' 5823898 7345159]
('R523', 'R147', '00-05-00', '61 ST WOODSIDE')
['7' 'IRT' '05/19/2018' '01:00:00' 'REGULAR' 3423 0]
['7' 'IRT' '05/19/2018' '05:00:00' 'REGULAR' 3423 0]
['7' 'IRT' '05/19/2018' '09:00:00' 'REGULAR' 3423 0]
['7' 'IRT' '05/19/2018' '13:00:00' 'REGULAR' 3423 0]
['7' 'IRT' '05/19/2018' '17:00:00' 'REGULAR' 3423 0]
['7' 'IRT' '05/19/2018' '21:00:00' 'REGULAR' 3423 0]
['7' 'IRT' '05/20/2018' '01:00:00' 'REGULAR' 3424 0]
['7' 'IRT' '05/20/2018' '05:00:00' 'REGULAR' 3424 0]
['7' 'IRT' '05/20/2018' '09:00:00' 'REGULAR' 3424 0]
['7' 'IRT' '05/20/2018' '13:00:00' 'REGULAR' 3424 0]
['7' 'IRT' '05/20/2018' '17:00:00' 'REGULAR' 3425 0]
['7' 'IRT' '05/20/2018' '20:18:03' 'REGULAR' 3425 0]
['7' 'IRT' '05/20/2018' '20:20:24' 'REGULAR' 3425 0]
['7' 'IRT' '05/20/2018' '20:55:41' 'REGULAR' 3425 0]
['7' 'IRT' '05/20/2018' '21:00:00' 'REGULAR' 3425 0]
['7' 'IRT' '05/20/2018' '21:03:37' 'REGULAR' 3425 0]
['7' 'IRT' '05/21/2018' '01:00:00' 'REGULAR' 3425 0]
['7' 'IRT' '05/21/2018' '05:00:00' 'REGULAR' 3425 0]
['7' 'IRT' '05/21/2018' '09:00:00' 'REGULAR' 3426 0]
['7' 'IRT' '05/21/2018' '13:00:00' 'REGULAR' 3426 0]
['7' 'IRT' '05/21/2018' '17:00:00' 'REGULAR' 3426 0]
['7' 'IRT' '05/21/2018' '21:00:00' 'REGULAR' 3426 0]
['7' 'IRT' '05/22/2018' '01:00:00' 'REGULAR' 3427 0]
['7' 'IRT' '05/22/2018' '05:00:00' 'REGULAR' 3427 0]
['7' 'IRT' '05/22/2018' '09:00:00' 'REGULAR' 3427 0]
['7' 'IRT' '05/22/2018' '13:00:00' 'REGULAR' 3427 0]
['7' 'IRT' '05/22/2018' '17:00:00' 'REGULAR' 3427 0]
['7' 'IRT' '05/22/2018' '21:00:00' 'REGULAR' 3427 0]
['7' 'IRT' '05/23/2018' '01:00:00' 'REGULAR' 3427 0]
['7' 'IRT' '05/23/2018' '05:00:00' 'REGULAR' 3427 0]
['7' 'IRT' '05/23/2018' '09:00:00' 'REGULAR' 3428 0]
['7' 'IRT' '05/23/2018' '13:00:00' 'REGULAR' 3428 0]
['7' 'IRT' '05/23/2018' '17:00:00' 'REGULAR' 3428 0]
['7' 'IRT' '05/23/2018' '21:00:00' 'REGULAR' 3428 0]
['7' 'IRT' '05/24/2018' '01:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/24/2018' '05:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/24/2018' '09:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/24/2018' '13:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/24/2018' '17:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/24/2018' '21:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/25/2018' '01:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/25/2018' '04:41:59' 'RECOVR AUD' 3429 0]
['7' 'IRT' '05/25/2018' '04:43:15' 'REGULAR' 3429 0]
['7' 'IRT' '05/25/2018' '05:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/25/2018' '09:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/25/2018' '13:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/25/2018' '17:00:00' 'REGULAR' 3429 0]
['7' 'IRT' '05/25/2018' '21:00:00' 'REGULAR' 3430 0]

### To Do Next:

Check for null or '0' entries in Entrance & Exit. (See above entries for ('R523', 'R147', '00-05-00', '61 ST WOODSIDE') key -- all entrances are 3429 +/- 1, and all Exits are 0. 

Is there a way to get list of defunct stations?
Or do, we not care -- will just ignore / exlude these stations from consideration.